<th:block th:fragment="left">
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <ul class="metismenu" id="side-menu">

                    <li class="menu-title">Navigation</li>

                    <li>
                        <a href="/dashboard" class="waves-effect">
                            <i class="ion-md-speedometer"></i>
                            <span>  Dashboard  </span>
                            <span class="badge badge-info badge-pill float-right"> 3 </span>
                        </a>
                    </li>


                    <li>
                        <a href="javascript: void(0);" class="waves-effect">
                            <i class="ion-ios-apps"></i>
                            <span> Customers </span>
                            <span class="menu-arrow"></span>
                        </a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li><a href="/dashboard/customers">List</a></li>
                            <li><a href="/dashboard/customers/create">Create</a></li>
                        </ul>
                    </li>

                </ul>

            </div>
            <!-- End Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
</th:block>